/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 #_am_specs-metabox .cmb-row, #_am_safety .cmb-row{
     padding: 0.8em 0;
 }

 /* Style the list */
#am-admin-tabs ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
#am-admin-tabs ul.tab li {float: left;}

/* Style the links inside the list items */
#am-admin-tabs ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
#am-admin-tabs ul.tab li a.active{
    background-color: white;
}
/* Change background color of links on hover */
/*#am-admin-tabs ul.tab li a:hover {font-weight: bold;}*/


/* Style the tab content */
#am-admin-tabs .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

 #_am_images-metabox {
 	background: beige;
 }
 #am-admin-tabs ul.tab li{
        margin-bottom: 0px;
 }

 #am-admin-tabs .hndle,#am-admin-tabs .handlediv{
    display: none;
 }

 #am-admin-tabs .inside{
    padding: 0px;
    margin: 0px;
 }

#am-admin-publish-panel{
    position: fixed;
    bottom:0px;
    left: 160px;
    height: 100px;
    width: 100%;
    margin-bottom: 0px;
    z-index: 9999;
    /*display: none;*/
}
#floating_publish_panel #am-logo{

}
.am-btn{
    height: 30px;
    width:200px;
}

    
.cssload-loader {
    width: 131px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size:9px;
    color: rgb(0,133,186);
    letter-spacing: 0.2em;
}
.cssload-loader::before, .cssload-loader::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background: rgb(0,133,186);
    position: absolute;
    animation: cssload-load 0.665s infinite alternate ease-in-out;
        -o-animation: cssload-load 0.665s infinite alternate ease-in-out;
        -ms-animation: cssload-load 0.665s infinite alternate ease-in-out;
        -webkit-animation: cssload-load 0.665s infinite alternate ease-in-out;
        -moz-animation: cssload-load 0.665s infinite alternate ease-in-out;
}
.cssload-loader::before {
    top: 0;
}
.cssload-loader::after {
    bottom: 0;
}



@keyframes cssload-load {
    0% {
        left: 0;
        height: 16px;
        width: 8px;
    }
    50% {
        height: 4px;
        width: 21px;
    }
    100% {
        left: 123px;
        height: 16px;
        width: 8px;
    }
}

@-o-keyframes cssload-load {
    0% {
        left: 0;
        height: 16px;
        width: 8px;
    }
    50% {
        height: 4px;
        width: 21px;
    }
    100% {
        left: 123px;
        height: 16px;
        width: 8px;
    }
}

@-ms-keyframes cssload-load {
    0% {
        left: 0;
        height: 16px;
        width: 8px;
    }
    50% {
        height: 4px;
        width: 21px;
    }
    100% {
        left: 123px;
        height: 16px;
        width: 8px;
    }
}

@-webkit-keyframes cssload-load {
    0% {
        left: 0;
        height: 16px;
        width: 8px;
    }
    50% {
        height: 4px;
        width: 21px;
    }
    100% {
        left: 123px;
        height: 16px;
        width: 8px;
    }
}

@-moz-keyframes cssload-load {
    0% {
        left: 0;
        height: 16px;
        width: 8px;
    }
    50% {
        height: 4px;
        width: 21px;
    }
    100% {
        left: 123px;
        height: 16px;
        width: 8px;
    }
}
#am-ajax-animation{
    margin-top: 15px;
}
    
